<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body style="background-color: azure;">

<main>
    <div uk-grid>
        <div class="uk-align-center uk-width-2-3">
            <h1 style="text-align: center; color:blueviolet;"><%= employer.display_name %></h1>
            <h2 class="uk-text-small" style="text-align: center; color:blueviolet;">
                <a href="/qr/<%= employer.username %>">Visualizar codigo QR</a>
            </h2>
            <hr>
            <div class="uk-flex uk-flex-center uk-margin-medium-top">
                <% if (results.length == 0) { %>

                    <h2 style="text-align: center;">Todavia no hay ningun CV esperandote, acordate de imprimir <a href="/qr/<%= employer.username %>">tu codigo QR </a> y publicarlo.</h2>
                   
                   <% } else { %>
                <ul uk-accordion style="width: 100%;">
                    <% results.forEach(function(r) { %>
                    <li>
                        <a class="uk-accordion-title" style="color:blueviolet;" href="#"><%= r.employee %></a>
                        <div class="uk-accordion-content">
                            <embed src="/cv/<%= r.id %>" width="100%" height="2100px" />
                        </div>
                    </li>
                    <% }); %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</main>

</body>
</html>
