<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <a class="no-print" href="/dashboard/<%= employer.username %>"><-Volver</a>
    <div class="uk-flex uk-flex-middle uk-flex-column">
        <h1><%= employer.display_name %></h1>
        <h2><%= employer.description %></h2>
        <img src="<%=qrdata%>" width="500" height="600" alt="QR Code Image">
        <p>Escanear el QR para subir el CV</p>
        <div class="no-print"><button onClick="window.print()">Print this page
        </button></div>
        <br>
    </div>
</body>

</html>