<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container" style="background-color: azure;">
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="uk-margin-medium-top" uk-grid>
            <div class="uk-align-center uk-width-2-3">
                <div>
                    <h1 class="uk-margin-small-bottom" style="text-align: center; color:blueviolet;">Registrate</h1>
                    <h2 class="uk-margin-remove uk-text-meta" style="text-align: center; color:blueviolet;">y empeza a usar Tira CV</h2>
                    <hr>
                    <form class="form" action="/register" method="POST">
                        <fieldset class="uk-fieldset">
                    
                            <% if (locals.error) { %>
                                <p class="uk-text-default uk-text-danger"><%= error%></p>
                               <% } %>

                            <div class="uk-margin">
                                <input name="username" class="uk-input" placeholder="Ingrese su nombre de usuario"
                                type="text" value="<%= body.username%>" required>
                            </div>
                            <div class="uk-margin">
                                <input name="display_name" class="uk-input" placeholder="Ingrese el nombre de su empresa"
                                type="text" value="<%= body.display_name%>" required>
                            </div>
                            
                            <div class="uk-margin">
                                <textarea name="desc" class="uk-textarea"
                                    placeholder="Ingrese una breve descripcion" type="text"><%= body.desc%></textarea>
                            </div>


                            <div class="uk-align-center uk-width-1-2">     
                                <button type="submit" class="uk-button uk-button-default uk-border-rounded extended-button" style="color:blueviolet; background-color: azure;">Registrar</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>